---
import '@fontsource/roboto';
import '@fontsource/pixelify-sans'

import Layout from '../layouts/Layout.astro';

---

<Layout title="Portafolio">

	<main>
        <section class="py-12">
            <h1 class="font-bold text-2xl name ">Hola, soy Alejandro Lima Vázquez</h1> 
            <h2 class="opacity-80">+6 Meses de Experiencia como Desarrollador Web FrontEnd</h2>
            <h3>
                Tecnologías
            </h3>
            <article class="flex flex-row gap-1">
               
                <span class="bg-black">GitHub</span>
                <span>Git</span>
                <span>HTML</span>
                <span>CSS</span>
                <span>JavaScript</span>
                <span>Tailwind CSS</span>
                <span>ReactJS</span>
                <span>Astro</span>
                
                
                
            </article>
        </section>
    </main>
	
</Layout>

<style>
    .name{
        font-family: 'Pixelify Sans', system-ui;
    }
    main{
        font-family: 'Roboto', sans-serif;
    }
    span{
        border-style: solid;
        border-color: white;
        border-width: 2px;
        padding: 5px 20px;
        border-radius: 10px;
    }
</style>