---

---

<header class="flex justify-center items-center p-1 w-full  mx-auto xl:w-[1120px] text-2xl">
    
    <nav>
        <ul class="flex flex-row gap-x-10 opacity-100 ">
            <li class="hover:text-cyan-300 m-1 transition ease-out hover:-translate-y-1 duration-300">
                <a href="/" class="">Home</a></li>
            <li class="hover:text-cyan-300 m-1 transition ease-out hover:-translate-y-1 duration-300"><a href="/about" >About</a></li>
            <li class="hover:text-cyan-300 m-1 transition ease-out hover:-translate-y-1 duration-300"><a href="/projects" >Projects</a></li>
            <li class="hover:text-cyan-300 m-1 transition ease-out hover:-translate-y-1 duration-300"><a href="/contact" >Contact</a></li>
        </ul>
    </nav>
</header>

<style>
    header{
        font-family: 'Pixelify Sans', system-ui;
    }
   
</style>